/* 左上角3D方块 */
.spinner {
    width: 150px;
    height: 150px;
    animation: spinner-y0fdc1 6s infinite ease;
    transform-style: preserve-3d;
    left: 5%;
    top: 275px;
    position: fixed;
}

.spinner>div {
    background-color: rgba(0, 77, 255, 0.2);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #004dff;
}

.spinner div:nth-of-type(1) {
    transform: translateZ(-75px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}

.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
    transform: translateZ(75px);
}

@keyframes spinner-y0fdc1 {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}


/* 发布按钮 */

button2 {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: absolute;
    top: 500px;
    z-index: 5;
    left: 30px;
}

button2:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
    cursor: pointer;
}

button2:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.post {
    font-size: 25px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}


input:focus,
textarea:focus,
button:focus {
    outline: 0;
    border-color: #2260ff;
    box-shadow: 0 0 0 4px #b5c9fc;
}

.mydict div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
    top: 260px;
    left: 1350px;
    position: absolute;
}

.mydict input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.mydict input[type="radio"]:checked+span {
    box-shadow: 0 0 0 0.0625em #0043ed;
    background-color: #dee7ff;
    z-index: 1;
    color: #0043ed;
}

label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color: black;
    text-align: center;
    transition: background-color .5s ease;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

label:first-child span {
    border-radius: .375em 0 0 .375em;
}

label:last-child span {
    border-radius: 0 .375em .375em 0;
}

/* 修改信息与退出登录按钮 */
.cta {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    left: 80%;
    bottom: 20%;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    color: rgba(28, 121, 252, 0.765);
    font-size: 30px;
    font-weight: 700;
    padding-right: 15px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cta svg {
    transform: translateX(-8px);
    top: 40%;
    transition: all 0.3s ease;
    position: absolute;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #3681f893;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation a {
    color: inherit;
    text-decoration: none;
}

/* 弹窗按钮 */
button3 {
    height: 60px;
    width: 150px;
    align-items: center;
    justify-content: center;
    background-color: #00000081;
    border-radius: 13px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #33aef6b0;
    position:absolute;
    z-index:160;
    display:flex;
    top:55%;
    border:2px solid #00000075;
}

button3>svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 30px;
    transition: all 0.4s ease-in;
}

button3:hover>svg {
    font-size: 1.2em;
    transform: translateX(-10px);
}

button3:hover {
    box-shadow: 3px 3px 10px #00000075, -3px -3px 33px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
}

.button3_word {
    font-size: 20px;

}