.name {
    color: white;
    font-weight: 500;
    top: 330px;
    position: absolute;
    z-index: 5;
    left: 95px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.group {
    color: white;
    font-weight: 500;
    top: 370px;
    position: absolute;
    z-index: 5;
    left: 75px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.grade {
    color: white;
    font-weight: 500;
    top: 410px;
    position: absolute;
    z-index: 5;
    left: 65px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

.content {
    background-color: white;
    height: 250px;
    position: absolute;
    width: 1370px;
    left: 320px;
}

.hello-word {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: 900;
    left: 5%;
    position: absolute;
    top: 80px;
}

.hello-word1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: 600;
    left: 20%;
    position: absolute;
    top: 180px;
}

.blog {
    position: absolute;
    height: 100%;
    width: 1335px;
    left: 320px;
    background-color: rgb(228, 240, 248);
    top: 300px;
    margin-left: 20px;
    border-radius: 5px;
}

.blog_show{
    position: absolute;
    height: 100%;
    width: 1335px;
    left: 320px;
    animation: change 1s linear 0s 1 forwards;
    margin-left: 20px;
    border-radius: 5px;
    top: 80px;
    background-color:rgb(187, 224, 249);
}

.blog-content {
    position: absolute;
    height: 150px;
    width: 1200px;
    left: 50px;
    top: 70px;
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 5px;
    z-index: 4;
    box-shadow:2px 2px 4px #99999988;
}


/* 发布按钮 */

.button_p {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: absolute;
    top: 750px;
    z-index: 5;
    left: 30px;
}

.button_p:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.button_p:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.post {
    font-size: 25px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}


input:focus, textarea:focus, button:focus {
    outline: 0;
    border-color: #2260ff;
    box-shadow: 0 0 0 4px #b5c9fc;
}

.mydict div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: center;
    top:260px;
    left:1350px;
    position: absolute;
}

.mydict input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.mydict input[type="radio"]:checked+span {
    box-shadow: 0 0 0 0.0625em #0043ed;
    background-color: #dee7ff;
    z-index: 1;
    color: #0043ed;
}

label span {
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .05em;
    color:black;
    text-align: center;
    transition: background-color .5s ease;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

label:first-child span {
    border-radius: .375em 0 0 .375em;
}

label:last-child span {
    border-radius: 0 .375em .375em 0;
}

.title{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    top:10px;
    left:20px;
    position: absolute;
    font-weight: 800;
}

.author{
    font-size: 20px;
    color: rgb(72, 157, 241);
    bottom:10px;
    position:absolute;
    left:5%;
}

.time{
    font-size: 20px;
    color: rgb(72, 157, 241);
    bottom:10px;
    position:absolute;
    left:17%;
}

.box-content{
    font-size:19px;
    position:absolute;
    top:50px;
    left:20px;
}



.delete-button {
  position: absolute;
  padding: 0.5em;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1em;
  transition: transform 0.2s ease;
  left:93%;
  bottom:5%;
}

.trash-svg {
  width: 3.5em;
  height: 3.5em;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
  overflow: visible;
}

#lid-group {
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.delete-button:hover #lid-group {
  transform: rotate(-28deg) translateY(2px);
}

.delete-button:active #lid-group {
  transform: rotate(-12deg) scale(0.98);
}

.delete-button:hover .trash-svg {
  transform: scale(1.08) rotate(3deg);
}

.delete-button:active .trash-svg {
  transform: scale(0.96) rotate(-1deg);
}

