 .form {
   position: absolute;
   left: 65%;
   top:60px;
   width: 500px;
   height: 600px;
   border-radius: 0.5rem;
   padding: 16px;
   box-shadow: 10px 20px 25px -10px rgba(0, 0, 0, 0.1), 10px 4px 6px -2px rgba(0, 0, 0, 0.05);
   background-color:rgb(226, 240, 252)
 }

 .form-title {
   font-size: 40px;
   line-height: 1.75rem;
   font-weight: 600;
   text-align: center;
   color: rgb(51, 97, 153);
   font-family: Georgia, 'Times New Roman', Times, serif;
   position:relative;
   margin-top:30px;
 }

  .form-title22 {
   font-size: 40px;
   line-height: 1.75rem;
   font-weight: 600;
   text-align: center;
   color: rgb(51, 97, 153);
   font-family: Georgia, 'Times New Roman', Times, serif;
   position:relative;
   margin-top:15px;
 }

 .form-title2 {
   font-size: 30px;
   line-height: 1.75rem;
   font-weight: 600;
   text-align: right;
   color: rgb(51, 97, 153);
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top:40px;
 }

 .input-container {
   position: relative;
 }

 .input-container input,
 .form button {
   outline: none;
   border: 1px solid #e5e7eb;
   margin: 8px 0;
 }

 .input-container input {
   left: 10%;
   background-color: #fff;
   font-size: 0.875rem;
   line-height: 50px;
   width: 400px;
   border-radius: 16px;
   box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.05);
   position: relative;
   font-size: 16px;
   top: 20px;
   margin-top: 20px;
 }

 .input-container2 input {
  left: 10%;
   background-color: #fff;
   font-size: 0.875rem;
   line-height: 43px;
   width: 400px;
   border-radius: 16px;
   box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.05);
   position: relative;
   font-size: 16px;
   top: 20px;
   margin-top: 20px;
 }

 .input-container3 input {
  left: 10%;
   background-color: #fff;
   font-size: 0.875rem;
   line-height: 43px;
   width: 200px;
   border-radius: 16px;
   box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.05);
   position: relative;
   font-size: 16px;
   top: 20px;
   margin-top: 20px;
 }

 .submit1 {
   width: 430px;
   height: 60px;
   background-color:#4299e1;
   color: #ffffff;
   font-size: 20px;
   font-weight: 500;
   border-radius: 0.5rem;
   text-transform: uppercase;
   cursor: pointer;
   left: 8%;
   top: 50px;
   position: relative;
 }
.submit2 {
   width: 430px;
   height: 60px;
   background-color: #fa9f9f;
   color: #ffffff;
   font-size: 20px;
   font-weight: 500;
   border-radius: 0.5rem;
   text-transform: uppercase;
   cursor: pointer;
   left: 8%;
   top: 50px;
   position: relative;
 }
 .signup-link {
   margin-top: 80px;
   color: #806b6b;
   font-size: 20px;
   line-height: 1.25rem;
   text-align: center;
   font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .signup-link a {
   text-decoration: underline;
 }